[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
google-cloud-bigquery = "*"
requests = "*"
functions-framework = "*"
jaydebeapi = "*"
jpype1 = "*"
jinja2 = "*"
google-cloud-pubsub = "*"
gunicorn = "*"
flask = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
