SELECT
	CUSTOMER_ID,
	PHONE,
	EMAIL,
	CATEGORY_0,
	FULL_NAME,
	FIRSTNAME,
	MIDDLENAME,
	LASTNAME,
	NAME,
	BILLADDRESS,
	SHIPADDRESS,
	CITY,
	COMPANYNAME,
	CONVERTED_TO_ID,
	COUNTRY,
	CREATE_DATE,
	DATE_CLOSED,
	DATE_CONVSERSION,
	DATE_FIRST_ORDER,
	DATE_FIRST_SALE,
	DATE_LAST_MODIFIED,
	DATE_LAST_ORDER,
	DATE_LAST_SALE,
	DATE_LEAD,
	DATE_PROSPECT,
	FROM_CAMPAIGN,
	FROM_LANDING,
	HOME_PHONE,
	ISINACTIVE,
	LAST_MODIFIED_DATE,
	LEAD_SOURCE_ID,
	SMS_PROMO_ID,
	SOURCES_ID,
	STATUS,
	SUBSIDIARY_ID,
	DATE_OF_BIRTH
FROM
	"Vua Nem Joint Stock Company".Administrator.CUSTOMERS
WHERE
	DATE_LAST_MODIFIED >= '{{ start }}'
	AND DATE_LAST_MODIFIED <= '{{ end }}'
