SELECT
	CUSTOMERS.CUSTOMER_ID,
	CUSTOMERS.PHONE,
	CUSTOMERS.EMAIL,
	CUSTOMERS.CATEGORY_0,
	CUSTOMERS.FULL_NAME,
	CUSTOMERS.FIRSTNAME,
	CUSTOMERS.MIDDLENAME,
	CUSTOMERS.LASTNAME,
	CUSTOMERS.NAME,
	CUSTOMERS.BILLADDRESS,
	CUSTOMERS.SHIPADDRESS,
	CUSTOMERS.CITY,
	CUSTOMERS.COMPANYNAME,
	CUSTOMERS.CONVERTED_TO_ID,
	CUSTOMERS.COUNTRY,
	CUSTOMERS.CREATE_DATE,
	CUSTOMERS.DATE_CLOSED,
	CUSTOMERS.DATE_CONVSERSION,
	CUSTOMERS.DATE_FIRST_ORDER,
	CUSTOMERS.DATE_FIRST_SALE,
	CUSTOMERS.DATE_LAST_MODIFIED,
	CUSTOMERS.DATE_LAST_ORDER,
	CUSTOMERS.DATE_LAST_SALE,
	CUSTOMERS.DATE_LEAD,
	CUSTOMERS.DATE_PROSPECT,
	CUSTOMERS.FROM_CAMPAIGN,
	CUSTOMERS.FROM_LANDING,
	CUSTOMERS.HOME_PHONE,
	CUSTOMERS.ISINACTIVE,
	CUSTOMERS.LAST_MODIFIED_DATE,
	CUSTOMERS.LEAD_SOURCE_ID,
	CUSTOMERS.SMS_PROMO_ID,
	CUSTOMERS.SOURCES_ID,
	CUSTOMERS.STATUS,
	CUSTOMERS.SUBSIDIARY_ID,
	CUSTOMERS.DATE_OF_BIRTH
FROM
	"Vua Nem Joint Stock Company".Administrator.CUSTOMERS
