SELECT
	NEW_ITEM_CODE,
	ITEM_ID,
	LOCATION_ID,
	i.DISPLAYNAME,
	ON_HAND_COUNT
FROM
	"Vua Nem Joint Stock Company".Administrator.ITEM_LOCATION_MAP ilm
LEFT JOIN
    "Vua Nem Joint Stock Company".Administrator.ITEMS i
ON
	ilm.NEW_ITEM_CODE = i.NEW_ITEM_CODE
