SELECT
    AMOUNT,
    CUSTOMER_ID,
    DATE_CREATED,
    DOCUMENT_NO,
    EXPIRED_DATE,
    IS_INACTIVE,
    LAST_MODIFIED_DATE,
    LOYALTY_CUSTOMER_GROUP_ID,
    LOYALTY_LOCATION_GROUP_ID,
    LOYALTY_PROGRAM_ID,
    LOYALTY_TRANSACTION_EXTID,
    LOYALTY_TRANSACTION_ID,
    POINT_0,
    REWARD_RATE,
    TRANSACTION_DATE,
    TRANSACTION_TYPE,
    TRANS_ID,
    TRANS_LOCATION_ID,
    UPDATE_TIME_,
    VALID_FROM_DATE,
    VALID_TO_DATE
FROM "Vua Nem Joint Stock Company".Administrator.LOYALTY_TRANSACTION
WHERE
    LAST_MODIFIED_DATE >= '{{ start }}'
    AND LAST_MODIFIED_DATE <= '{{ end }}'
