SELECT
	LOYALTY_CUSTOMER_GROUP_ID,
	LAST_MODIFIED_DATE,
	DATE_CREATED,
	IS_INACTIVE,
	LEVEL_0,
	LOYALTY_CUSTOMER_GROUP_EXTID,
	LOYALTY_CUSTOMER_GROUP_NAME,
	MIN_REDEEMABLE_POINT,
	PARENT_ID,
	POINT_LEVEL_FROM,
	POINT_LEVEL_TO
FROM
	"Vua Nem Joint Stock Company".Administrator.LOYALTY_CUSTOMER_GROUP
WHERE
	LAST_MODIFIED_DATE >= '{{ start }}'
	AND LAST_MODIFIED_DATE <= '{{ end }}'
