SELECT 
	PROMOTION_SMS_INTEGRATION_ID,
	COUPON_CODES,
	CUSTOMER_ID,
	CUSTOMER_NAME,
	CUSTOMER_NUMBER,
	DATE_CREATED,
	END_DATE,
	INTERNAL_ID_COUPON_CODE,
	ISLOCK ,
	ISSEND ,
	IS_INACTIVE,
	LAST_MODIFIED_DATE,
	MESSENGER_TEMPLATE,
	PARENT_ID,
	PHONE_NUMBER,
	PROMOTION_INTERNAL_ID,
	PROMOTION_NAME,
	PROMOTION_SMS_INTEGRATION_EXTI,
	SEND_TIME,
	SEND_TIME_DATETIME,
	START_DATE,
	STATUS_SEND,
	VERIFY_SMS
FROM "Vua Nem Joint Stock Company".Administrator.PROMOTION_SMS_INTEGRATION
WHERE
	LAST_MODIFIED_DATE >= '{{ time_start }}'
	AND LAST_MODIFIED_DATE <= '{{ time_end }}'

