SELECT 
	LIST_SERVICE_ADD_ON_TO_ID,
	TRANSACTION_ID,
	TRANSACTIONS.DATE_LAST_MODIFIED
FROM "Vua Nem Joint Stock Company".Administrator.SERVICE_ADDON_TO_MAP
LEFT JOIN
	"Vua Nem Joint Stock Company".Administrator.TRANSACTIONS 
ON
	SERVICE_ADDON_TO_MAP.TRANSACTION_ID = TRANSACTIONS.TRANSACTION_ID
WHERE
	TRANSACTIONS.DATE_LAST_MODIFIED >= '{{ time_start }}'
	AND TRANSACTIONS.DATE_LAST_MODIFIED <= '{{ time_end }}'
