SELECT
    STORE_TRAFFIC.DATE_0,
    STORE_TRAFFIC.DATE_CREATED,
    STORE_TRAFFIC.GENDER_ID,
    STORE_TRAFFIC.IS_INACTIVE,
    STORE_TRAFFIC.LAST_MODIFIED_DATE,
    STORE_TRAFFIC.LOCATION_ID,
    STORE_TRAFFIC.STORE_TRAFFIC_ID,
    STORE_TRAFFIC.SUBSIDIARY_ID,
    STORE_TRAFFIC.TOTAL_TIMES_OF_VISITING,
    STORE_TRAFFIC.TOTAL_VISITOR
FROM
    "Vua Nem Joint Stock Company".Administrator.STORE_TRAFFIC STORE_TRAFFIC
WHERE
    STORE_TRAFFIC.LAST_MODIFIED_DATE >= '{{ start }}'
    AND STORE_TRAFFIC.LAST_MODIFIED_DATE <= '{{ end }}'
