SELECT
	DATE_CREATED,
	ITEM_ID,
	VALUE_NEW,
	OPERATION
FROM
	"Vua Nem Joint Stock Company".Administrator.SYSTEM_NOTES
WHERE
	SYSTEM_NOTES.STANDARD_FIELD = 'RATE'
	AND SYSTEM_NOTES.ITEM_ID IS NOT NULL
