SELECT 
	RECORD_ID,
	DATE_CREATED,
	VALUE_NEW,
	VALUE_OLD,
	TRANSACTION_ID,
	CUSTOM_FIELD,
	AUTHOR_ID
FROM "Vua Nem Joint Stock Company".Administrator.SYSTEM_NOTES
WHERE
	DATE_CREATED >= '{{ start }}'
	AND DATE_CREATED <= '{{ end }}'
