SELECT
    TRANSACTION_LINES.TRANSACTION_ID,
    TRANSACTION_LINES.TRANSACTION_LINE_ID,
    TRANSACTION_LINES.ACCOUNT_ID,
    TRANSACTION_LINES.AMOUNT,
    TRANSACTION_LINES.AMOUNT_BEFORE_DISCOUNT,
    TRANSACTION_LINES.AMOUNT_FOREIGN_LINKED,
    TRANSACTION_LINES.CLASS_ID,
    TRANSACTION_LINES.COMPANY_ID,
    TRANSACTION_LINES.DATE_CLOSED,
    TRANSACTION_LINES.DATE_CREATED,
    TRANSACTION_LINES.DATE_LAST_MODIFIED,
    TRANSACTION_LINES.DELIVERY_METHOD_ID,
    TRANSACTION_LINES.DELIVER_LOCATION_ID,
    TRANSACTION_LINES.DEPARTMENT_ID,
    TRANSACTION_LINES.EXPECTED_DELIVERY_DATE_SO,
    TRANSACTION_LINES.GROSS_AMOUNT,
    TRANSACTION_LINES.IS_COST_LINE,
    TRANSACTION_LINES.ITEM_COUNT,
    TRANSACTION_LINES.ITEM_GROUP_PROMOTION_ID,
    TRANSACTION_LINES.ITEM_ID,
    TRANSACTION_LINES.ITEM_TYPE,
    TRANSACTION_LINES.ITEM_UNIT_PRICE,
    TRANSACTION_LINES.LOCATION_ID,
    TRANSACTION_LINES.MEMO,
    TRANSACTION_LINES.NET_AMOUNT,
    TRANSACTION_LINES.SUBSIDIARY_ID,
    TRANSACTION_LINES.QUANTITY_RECEIVED_IN_SHIPMENT,
    TRANSACTION_LINES.TRANSFER_ORDER_ITEM_LINE,
    TRANSACTION_LINES.TRANSFER_ORDER_LINE_TYPE,
    TRANSACTION_LINES.TRANSACTION_ORDER,
    TRANSACTION_LINES.VENDOR_ID,
    TRANSACTIONS.DATE_LAST_MODIFIED AS TRANSACTIONS_DATE_LAST_MODIFIED
FROM
    "Vua Nem Joint Stock Company".Administrator.TRANSACTION_LINES AS TRANSACTION_LINES
    LEFT JOIN "Vua Nem Joint Stock Company".Administrator.TRANSACTIONS AS TRANSACTIONS ON TRANSACTION_LINES.TRANSACTION_ID = TRANSACTIONS.TRANSACTION_ID
WHERE
    (
        TRANSACTIONS.DATE_LAST_MODIFIED >= '{{ start }}'
        OR TRANSACTION_LINES.DATE_LAST_MODIFIED >= '{{ start }}'
    )
    AND TRANSACTIONS.DATE_LAST_MODIFIED <= '{{ end }}'
