SELECT
    pc.enddate,
    pc.startdate,
    pc.discount,
    pc.description,
    pc.discounttype,
    pc.discounteditemssavedsearch,
    pc.displaylinediscounts,
    pc.externalid,
    pc.fixedprice,
    pc.id,
    pc.isinactive,
    pc.itemquantifier,
    pc.location,
    pc.name,
    pc.promotiontype,
    pc.rate,
    pc.repeatdiscount
FROM
    promotionCode pc
