SELECT
    transaction AS TRANSACTION_ID,
    expenseaccount AS ACCOUNT_ID,
    netamount,
    rate,
    rateamount,
    linelastmodifieddate,
    ratepercent
FROM
    transactionLine
WHERE linelastmodifieddate >= TO_DATE('{{ time_start }}', 'YYYY-MM-DD HH24:MI:SS')
AND linelastmodifieddate <= TO_DATE('{{ time_end }}', 'YYYY-MM-DD HH24:MI:SS')
