SELECT
	SUPPORT_INCIDENTS.ASSIGNED_ID,
	SUPPORT_INCIDENTS.CASE_ID,
	SUPPORT_INCIDENTS.CASE_NUMBER,
	SUPPORT_INCIDENTS.CI_THIN AS CAI_THIEN,
	SUPPORT_INCIDENTS.CREATE_DATE,
	SUPPORT_INCIDENTS.L_DO_CHO_S_IM AS LY_DO_CHO_SO_DIEM,
	SUPPORT_INCIDENTS.L_DO_KHNG_MUA_HNG_ID AS LY_DO_KHONG_MUA_HANG,
	SUPPORT_INCIDENTS.NAME,
	SUPPORT_INCIDENTS.NV_BN_HNG_ID,
	SUPPORT_INCIDENTS.NV_BO_HNH_M_ID AS BAOHANH_ID,
	SUPPORT_INCIDENTS.NV_GIAO_HNG_ID AS NVGH_ID,
	SUPPORT_INCIDENTS.NV_H_TR_GIAO_HNG_ID AS HOTRO_ID,
	SUPPORT_INCIDENTS.RATING_KHCH_VO_CH_CHA_MUA__ID,
	SUPPORT_INCIDENTS.RATING__KHCH_DIGITALHOTLINE_ID,
	SUPPORT_INCIDENTS.RATING__SN_PHM_A_DNG_PHON_ID,
	SUPPORT_INCIDENTS.RATING__SAU_KHI_GIAO_HNG_ID,
	SUPPORT_INCIDENTS.RATING__SAU_KHI_LN_SO_ID,
	SUPPORT_INCIDENTS.SAO_CHO_NVBH_ID,
	SUPPORT_INCIDENTS.SAO_CHO_NVGH_ID,
	SUPPORT_INCIDENTS.SAO_CHO_NV_BO_HNH_M_ID,
	SUPPORT_INCIDENTS.SAO_CHO_NV_H_TR_ID,
	SUPPORT_INCIDENTS.SO_LOCATION_ID,
	SUPPORT_INCIDENTS.SO_REFERENCE_ID,
	SUPPORT_INCIDENTS.NGY_HON_THNH_KHIU_NIBO_,
	SUPPORT_INCIDENTS.CASE_TYPE_ID,
	SUPPORT_INCIDENTS.NPS_SCORE_ID,
	SUPPORT_INCIDENTS.CASE_ORIGIN_ID,
	SUPPORT_INCIDENTS.DATE_LAST_MODIFIED
FROM
	"Vua Nem Joint Stock Company".Administrator.SUPPORT_INCIDENTS
WHERE
	SUPPORT_INCIDENTS.DATE_LAST_MODIFIED >= '{{ start }}'
	AND SUPPORT_INCIDENTS.DATE_LAST_MODIFIED <= '{{ end }}'
