SELECT
    CUSTOM_RECORD_TYPE,
    DATE_DELETED,
    ENTITY_ID,
    ENTITY_NAME,
    IS_CUSTOM_LIST,
    NAME,
    RECORD_BASE_TYPE,
    RECORD_ID,
    RECORD_TYPE_NAME
FROM
    "Vua Nem Joint Stock Company".Administrator.DELETED_RECORDS
WHERE
    DATE_DELETED >= '{{ start }}'
    AND DATE_DELETED <= '{{ end }}'

