CREATE
OR REPLACE TABLE `{{ dataset }}.{{ table }}` AS
SELECT
    *
EXCEPT
    (`row_num`, `_rank`)
FROM
    (
        SELECT
            *,
            ROW_NUMBER() OVER (
                PARTITION BY
                    {% for key in p_key -%}
                        {{ key }}
                        {% if not loop.last -%}
                            ,
                        {%- endif %}
                    {%- endfor %}
                ORDER BY 
                    {% for key in row_num_incremental_key -%}
                        {{ key }} DESC
                        {% if not loop.last -%}
                            ,
                        {%- endif %}
                    {%- endfor %}
            ) AS `row_num`,
            RANK() OVER (
                PARTITION BY
                {% for key in rank_key -%}
                        {{ key }}
                        {% if not loop.last -%}
                            ,
                        {%- endif %}
                    {%- endfor %}
                ORDER BY
                {% for key in rank_incremental_key -%}
                    {{ key }} DESC
                    {% if not loop.last -%}
                        ,
                    {%- endif %}
                {%- endfor %}
            ) AS `_rank`
        FROM
            `{{ dataset }}`.`_stage_{{ table }}`
    )
WHERE
    `row_num` = 1
AND `_rank` = 1
